<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NetlibApi1.Properties.Settings.custdb" connectionString="Server=192.168.86.38;Database=SWKExchange;User Id=swkdata;Password=MollyLinus;" />
        <add name="Netcustdb" connectionString="Server= 192.168.86.38;Database=SWKExchange;User Id=swkdata;Password=MollyLinus;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomerServerSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CustomerServerSoap1" />
                <binding name="XmlCustomerServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="XmlCustomerServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomerServerSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="XmlCustomerServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://license.netlibsecurity.com/solo/webservices/customerserver.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomerServerSoap"
                contract="CustomerServiceReference.CustomerServerSoap" name="CustomerServerSoap" />
            <endpoint address="https://license.netlibsecurity.com/solo/webservices/XmlCustomerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="XmlCustomerServiceSoap"
                contract="XMLCustomerService.XmlCustomerServiceSoap" name="XmlCustomerServiceSoap" />
            <endpoint address="https://license.netlibsecurity.com/solo/webservices/XmlCustomerService.asmx"
                binding="customBinding" bindingConfiguration="XmlCustomerServiceSoap12"
                contract="XMLCustomerService.XmlCustomerServiceSoap" name="XmlCustomerServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>